{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7" style="text-align: center;"><img class="img-fluid rounded mb-4 mb-lg-0" width="350px" src="{% static 'img/embutidosnovo.jpg' %}" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Embutidos do Celso</h1>
                    <p> É uma empresa familiar que entrega qualidade, mais sabor e confiança para você, nosso cliente!</p>
                    <h6>Mais informações, segue abaixo.</h6>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Comunique-se com a gente</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Endereço</h2>
                            <p class="card-text">A empresa fica localizada na rua XV de Novembro, 2162.</p>

                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" target="_blank" href="https://www.google.com.br/maps/place/32%C2%B033'07.7%22S+53%C2%B023'14.9%22W/@-32.5521229,-53.3898153,17.17z/data=!4m7!1m2!10m1!1e2!3m3!8m2!3d-32.552141!4d-53.3874584?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D">Clique aqui e localiza-se com o google maps</a></div>

                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Contatos</h2>
                            <p class="card-text">Fone e whatsapp (53)984075857, ou se preferir, segue o e-mail, embutidosdocelso@gmail.com .</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://wa.me/5553984075857">Clique aqui e fale com a gente pelo seu whatsapp</a></div>
                    </div>
                </div>
                
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><h2 class="m-0 text-center text-white"> Sabor e qualidade que você confia.</h2></div>
        </footer>
{% endblock %}        